@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap'); */

:root {
    --col1: hsl(216, 18%, 16%);
    --col2: hsl(217, 10%, 25%);
    --col3: hsl(0, 0%, 100%);
    --col4: hsl(200, 70%, 30%);
    --col5: hsl(200, 70%, 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#burger {
    top: 0;
    z-index: 1;
    position: fixed;
}

h1, h2, h3, h4, h5, h6,
button, input, select, textarea {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
::-webkit-input-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
:-moz-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
::-moz-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    background-repeat: no-repeat;
    min-height: 100vh;
    cursor: default;
    overflow-x: hidden;
}

#burger input {
    display: none;
}

header {
    width: 7rem;
    background: var(--col4);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 0px 5px rgb(0,0,0,0.2);
    z-index: 0;
    overflow-x: hidden;
    border-left: 3px solid var(--col5);
    border-right: 3px solid var(--col5);
    transition: 0.5s;
}

#headerTop {
    width: 100%;
}

#logoContainer {
    padding: 2vh;
    transition: 1s;
}

#headerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
}

.navLink {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

.navLink:visited, .navLink:link, .navLink:active {
    text-decoration: none;
    color: var(--col3);
    transition: 0.2s;
}

.navLink:hover {
    background: rgba(0, 0, 0, 0.1);
    color: white;
    text-shadow: none;
}

#headerNav a:last-of-type {
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

#headerBottom {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.mediaLink:visited, .mediaLink:link, .mediaLink:active {
    font-size: 2rem;
    color:white;
    text-decoration: none;
    opacity: 85%;
    transition: 0.3s;
}

.mediaLink:hover {
    opacity: 100%;
}

#logo {
    opacity: 90%;
    width: 5rem;
    height: 5rem;
    transition: 0.3s;
}

#logo:hover {
    transform: rotate(10deg);
    opacity: 100%;
}

main {
    padding-left: 7rem;
    color:var(--col3);
}

#intro {
    background: linear-gradient(var(--col2), var(--col1));
    height: 104vh;
    padding-bottom: 4vh;
    width: 100%;
    overflow: hidden;
}

.backgroundGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(10, 1fr);
    animation: gridSway 100s linear infinite alternate;
}

@keyframes gridSway {
    10% {
        transform: translate(1px, 1px) rotate(0.2deg) scale(1.01, 1.01);
        opacity: 70%;
    }
    20% {
        transform: translate(0px, 0px) rotate(0.4deg) scale(1.02, 1.01);
        opacity: 90%;
    }
    30% {
        transform: translate(0px, -1px) rotate(0.2deg) scale(1.01, 1.02);
        opacity: 60%;
    }
    40% {
        transform: translate(1px, -1px) rotate(0deg) scale(1.01, 1.03);
        opacity: 80%;
    }
    50% {
        transform: translate(0px, 0px) rotate(-0.2deg) scale(1.02, 1.02);
        opacity: 100%;
    }
    60% {
        transform: translate(0px, -1px) rotate(-0.4deg) scale(1.03, 1.02);
        opacity: 70%;
    }
    70% {
        transform: translate(-1px, -1px) rotate(-0.2deg) scale(1.02, 1.01);
        opacity: 95%;
    }
    80% {
        transform: translate(1px, 0px) rotate(0deg) scale(1.01, 1.02);
        opacity: 60%;
    }
    90% {
        transform: translate(0px, -1px) rotate(0.2deg) scale(1.01, 1.01);
        opacity: 95%;
    }
    100% {
        transform: translate(1px, 1px) rotate(0deg) scale(1.01, 1.01);
        opacity: 80%;
    }
}

.gridSquare {
    opacity: 25%;
    transform: scale(0.01);
    background: var(--col1);
    transition: 0.1s;
}

#introJames {
    pointer-events: none;
    position: absolute;
    top: 0;
    padding-left: 5vw;
    padding-top: 30vh;
}

.introText {
    transition: 0.3s;
    text-shadow: 2px 2px 10px rgba(0,0,0,1);
    font-size: 2em;
    opacity: 95%;
}

#james {
    font-size: 3em;
}


#portfolio {
    padding: 1em 0;
    background: var(--col1);
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    padding-bottom: 1em;
}

#portfolioWindow {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    max-width: 1000px;
}

.portfolioItem {
    border: 3px solid var(--col5);
    overflow: hidden;
    margin: 20px;
    width: 260px;
    height: 260px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioImage {
    transition: 250ms;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.portfolioItem:hover img {
    filter: blur(3px) brightness(60%);
}

.projectInfo {
    position: absolute;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0%;
    transition: 0.3s;
    transform: translateY(-5px);
    line-height: 1.5rem;
    top: 10px;
    margin: 5px;
}

.viewProject {
    position: absolute;
    visibility: hidden;
    opacity: 0%;
    transition: 0.3s;
    bottom: 0;
}

.portfolioItem:hover .viewProject {
    visibility: visible;
    opacity: 100%;
    transform: translateY(-10px);
}

.portfolioItem:hover .projectInfo {
    visibility: visible;
    opacity: 100%;
    transform: translateY(5px);
}

.projectLink {
    font-size: 0.8rem;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 0.5rem;
    transition: 0.2s;
}

.projectLink:hover {
    background: var(--col4);
    cursor: pointer;;
}

.projectLink:active {
    background: var(--col5);
}

#skills {
    background: linear-gradient(20deg, var(--col2), var(--col1));
    padding: 4em 2vw;
    font-size: 1em;
}

.column {
    width: 45%;
    margin-bottom: 2em;
}

.row {
    display: flex;
    justify-content: space-evenly;
    
}

#column1 {
    text-align: right;
}

.skill {
    font-size: 1.1rem;
    padding: 0.5rem;
    list-style: none;
}

.skill i {
    color: var(--col5);
    width: 20px;
}

p {
    font-size: 0.8em;
    text-align: center;
}
 
#contact {
    background: var(--col1);
    padding: 4em 0;
    min-height: 500px;
    height: 100vh;
}

#contactForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formGroup {
    line-height: 1rem;
    padding: 0.5rem;
    list-style-type: none;
    transition: 0.3s;
}

.formEntry {
    background: var(--col2);
    color: var(--col3);
    padding: 0.7rem;
    width: 63vw;
    border: 1px solid var(--col3);
    border-radius: 0.3rem;
}

.formEntry:focus {
    background: var(--col1);
}

#contactMessage {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 63vw;
    min-width: 63vw;
    min-height: 6rem;
}

#contactBox {
    padding-top: 0.9rem;
}

#submit {
    width: 100%;
    padding: 0.5rem;
    background: var(--col1);
    color: var(--col5);
    border: 1px solid var(--col4);
    border-radius: 0.3rem;
    transition: 0.1s;
    cursor: pointer;
}

#submit:hover {
    background: var(--col2);
}

#submit:active {
    background: var(--col4);
    color: var(--col1);
}



@media (max-width: 43em) {

    #burger {
        top: 0;
        right: 0;
        width: 3em;
        height: 3em;
        z-index: 1;
        position: fixed;
    }
    
    #burger input {
        display: block;
        position: fixed;
        transform: translate(4px, 4px);
        opacity: 0;
        width: 3em;
        height: 3em;
        z-index: 2;
    }
    
    #burger input:checked ~ .burgerTop {
        transform: rotate(-135deg) translate(19px, -18px);
    }
    
    #burger input:checked ~ .burgerMid {
        opacity: 0;
        transform: translate(100%);
    }
    
    #burger input:checked ~ .burgerBot {
        transform: rotate(135deg) translate(19px, 19px);
    }
    
    .burgerTop {
        background: white;
        height: 0.2em;
        border-radius: 0.1em;
        width: 75%;
        position: absolute;
        top: 20%;
        left: 12.5%;
        transform-origin: right;
        transition: 0.3s;
        z-index: 1;
    }
    
    .burgerMid {
        background: white;
        height: 0.2em;
        border-radius: 0.1em;
        width: 75%;
        position: absolute;
        top: 45%;
        left: 12.5%;
        transition: 0.3s;
        z-index: 1;
    }
    
    .burgerBot {
        background: white;
        height: 0.2em;
        border-radius: 0.1em;
        width: 75%;
        position: absolute;
        top: 70%;
        left: 12.5%;
        transform-origin: right;
        transition: 0.3s;
        z-index: 1;
    }

    body {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1em;
        background-repeat: no-repeat;
        cursor: default;
    }
    
    header {
        top: 0;
        right: -200px;
        transition: 0.15s;
        padding-top: 2em;
    }
/* 
    #headerBottom {
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    } */

    #burger input:checked ~ header {
        transform: translateX(-200px);
        box-shadow: -1px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    main {
        padding-left: 0em;
        color: var(--col3);
    }

    #intro {
        background: linear-gradient(var(--col2), var(--col1));
        height: 104vh;
    }
    
    #introJames {
        padding-top: 40vh;
    
    }
    
    .introText {
        transition: 0.3s;
        text-shadow: 5px 5px 5px rgba(0,0,0,1);
        font-size: 1.6rem;
    }
    
    #james {
        font-size: 3em;
    }
 
    #portfolioWindow {
        padding: 1em;
    }

    .formEntry {
        width: 90vw;
    }

    #contactMessage {
        max-width: 90vw;
        min-width: 90vw;
    }
}

a {
    color: green;
}
