@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap'); */

:root {
    --col1: #222831;
    --col2: #393e46;
    --col3: #ffffffdd;
    --col4: #00adb5;
    --col5: #00c3ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#burger {
    top: 0;
    z-index: 1;
    position: fixed;
}

h1, h2, h3, h4, h5, h6,
button, input, select, textarea {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
::-webkit-input-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
:-moz-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
::-moz-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    background-repeat: no-repeat;
    min-height: 100vh;
    cursor: default;
    overflow-x: hidden;
}

#burger input {
    display: none;
}

header {
    width: 8rem;
    background: var(--col4);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 0px 5px rgb(0,0,0,0.2);
    z-index: 0;
    overflow-x: hidden;
    border: 3px solid var(--col5);
}

#headerTop {
    width: 100%;
}

#logoContainer {
    padding: 2vh;
    transition: 1s;
}

#headerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
}

.navLink {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

.navLink:visited, .navLink:link, .navLink:active {
    text-decoration: none;
    color: var(--col3);
    transition: 0.2s;
}

.navLink:hover {
    background: rgba(0, 0, 0, 0.1);
    color: white;
    text-shadow: none;
}

#headerNav a:last-of-type {
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

#headerBottom {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.mediaLink:visited, .mediaLink:link, .mediaLink:active {
    font-size: 2rem;
    color:white;
    text-decoration: none;
    opacity: 85%;
    transition: 0.3s;
}

.mediaLink:hover {
    opacity: 100%;
}

#logo {
    opacity: 90%;
    width: 5rem;
    height: 5rem;
    transition: 0.3s;
}

#logo:hover {
    transform: rotate(10deg);
    opacity: 100%;
}

main {
    padding-left: 8rem;
    color:var(--col3);
}

#intro {
    background: linear-gradient(120deg, var(--col1), var(--col2));
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.backgroundGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(10, 1fr);
}

.gridSquare {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#introJames {
    pointer-events: none;
    position: absolute;
    top: 0;
    padding-left: 2rem;
    padding-top: 30vh;
}

.introText {
    transition: 0.3s;
    text-shadow: 2px 2px 10px rgba(0,0,0,1);
    font-size: 3em;
    opacity: 90%;
}

#james {
    font-size: 4em;
}

#portfolio {
    padding: 1em 0;
    background: var(--col1);
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    padding-bottom: 1em;
}

#portfolioWindow {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 0.2em;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 0.2em;
}

@media (max-width: 913px) {
    #portfolioWindow {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    #portfolioWindow {
        grid-template-columns: 1fr;
    }
}

.portfolioItem {
    opacity: 60%;
    transition: 0.2s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: var(--col2);
}

.portfolioItem:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 100%;
}

#item1 {
    background: url("./Snap\ Thumbnail.jpg") center;
    background-size: cover;
}

#item2 {
    background: url("./Memory\ Thumbnail.jpg") center;
    background-size: cover;
}

.portfolioItem:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
    opacity: 100%;
    background: var(--col3);
    color: white;
}

.portfolioItem:hover .projectLink {
    opacity: 100%;
}

.projectLink {
    opacity: 0%;
    font-size: 0.8rem;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 0.5rem;
    transition: 0.2s;
}

.projectLink:hover {
    background: var(--col4);
    cursor: pointer;
}

.projectLink:active {
    background: var(--col5);
}

#skills {
    background: linear-gradient(20deg, var(--col2), var(--col1));
    padding: 2em 0;
    padding: 2em 2vw;
    font-size: 1em;
}

.column {
    width: 45%;
    margin-bottom: 2em;
}

.row {
    display: flex;
    justify-content: space-evenly;
    
}

#column1 {
    text-align: right;
}

.skill {
    font-size: 1.1rem;
    padding: 0.5rem;
    list-style: none;
}

.skill i {
    color: var(--col5);
}

p {
    font-size: 0.8em;
    text-align: center;
}
 
#contact {
    background: var(--col1);
    padding: 2em 0;
    min-height: 500px;
    height: 100vh;
}

#contactForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formGroup {
    line-height: 1rem;
    padding: 0.5rem;
    list-style-type: none;
    transition: 0.3s;
}

.formEntry {
    background: var(--col2);
    color: var(--col3);
    padding: 0.7rem;
    width: 63vw;
    border: 1px solid var(--col3);
    border-radius: 0.3rem;
}

.formEntry:focus {
    background: var(--col1);
}

#contactMessage {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 63vw;
    min-width: 63vw;
    min-height: 6rem;
}

#contactBox {
    padding-top: 0.9rem;
}

#submit {
    width: 100%;
    padding: 0.5rem;
    background: var(--col1);
    color: var(--col5);
    border: 1px solid var(--col4);
    border-radius: 0.3rem;
    transition: 0.1s;
    cursor: pointer;
}

#submit:hover {
    background: var(--col2);
}

#submit:active {
    background: var(--col4);
    color: var(--col1);
}



@media (max-width: 43em) {

    #burger {
        top: 0;
        right: 0;
        width: 3em;
        height: 3em;
        z-index: 1;
        position: fixed;
        transition: 3s;
    }
    
    #burger input {
        display: block;
        position: fixed;
        transform: translate(4px, 4px);
        opacity: 0;
        width: 3em;
        height: 3em;
        z-index: 2;
    }
    
    #burger input:checked ~ .burgerTop {
        transform: rotate(-135deg) translate(19px, -18px);
    }
    
    #burger input:checked ~ .burgerMid {
        opacity: 0;
        transform: scale(0.1, 0.1);
    }
    
    #burger input:checked ~ .burgerBot {
        transform: rotate(135deg) translate(19px, 19px);
    }
    
    .burgerTop {
        background: white;
        height: 0.2em;
        border-radius: 0.1em;
        width: 75%;
        position: absolute;
        top: 20%;
        left: 12.5%;
        transform-origin: right;
        transition: 0.3s;
        z-index: 1;
    }
    
    .burgerMid {
        background: white;
        height: 0.2em;
        border-radius: 0.1em;
        width: 75%;
        position: absolute;
        top: 45%;
        left: 12.5%;
        transition: 0.5s;
        z-index: 1;
    }
    
    .burgerBot {
        background: white;
        height: 0.2em;
        border-radius: 0.1em;
        width: 75%;
        position: absolute;
        top: 70%;
        left: 12.5%;
        transform-origin: right;
        transition: 0.3s;
        z-index: 1;
    }

    body {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1em;
        background-repeat: no-repeat;
        cursor: default;
    }
    
    header {
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: 0.2s;
        padding-top: 2em;
    }

    #headerBottom {
        margin-bottom: 15vh;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }

    #burger input:checked ~ header {
        transform: none;
        box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.4);
    }
    
    main {
        padding-left: 0em;
        color: var(--col3);
    }

    #intro {
        background: linear-gradient(120deg, var(--col1), var(--col2));
        height: 100vh;
    }
    
    #introJames {
        padding-top: 40vh;
    
    }
    
    .introText {
        transition: 0.3s;
        text-shadow: 5px 5px 5px rgba(0,0,0,1);
        font-size: 2rem;
    }
    
    #james {
        font-size: 3em;
    }
 
    #portfolioWindow {
        padding: 1em;
    }

    .formEntry {
        width: 90vw;
    }

    #contactMessage {
        max-width: 90vw;
        min-width: 90vw;
    }
}
