@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap'); */

:root {
    --col1: #222831;
    --col2: #393e46;
    --col3: #ffffffdd;
    --col4: #00adb5;
    --col5: #00adb5;
    --col6: #ffffffdd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
button, input, select, textarea {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
::-webkit-input-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
:-moz-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
::-moz-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Bellota Text', 'Comfortaa', sans-serif;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1rem;
    background-repeat: no-repeat;
    min-height: 100vh;
    cursor: default;
}

header {
    width: 8rem;
    background: var(--col4);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 0px 5px rgb(0,0,0,0.2);
    z-index: 1;
    overflow-x: hidden;
}

#headerTop {
    width: 100%;
}

#logoContainer {
    padding: 2vh;
    transition: 1s;
}

#headerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
}

.navLink {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

.navLink:visited, .navLink:link, .navLink:active {
    text-decoration: none;
    color: var(--col6);
    transition: 0.2s;
}

.navLink:hover {
    background: rgba(0, 0, 0, 0.1);
    color: white;
    text-shadow: none;
}

#headerNav a:last-of-type {
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

#headerBottom {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.mediaLink:visited, .mediaLink:link, .mediaLink:active {
    font-size: 2rem;
    color:white;
    text-decoration: none;
    opacity: 85%;
    transition: 0.3s;
}

.mediaLink:hover {
    opacity: 100%;
}

#logo {
    opacity: 90%;
    width: 5rem;
    height: 5rem;
    transition: 0.3s;
}

#logo:hover {
    transform: rotate(10deg);
    opacity: 100%;
}

main {
    padding-left: 8rem;
    color:var(--col6);
}

#intro {
    padding-left: 2rem;
    background: linear-gradient(120deg, var(--col1), var(--col2));
    height: 100vh;
}

#introJames {
    padding-top: 30vh;

}

.introText {
    transition: 0.3s;
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
    font-size: 3em;
}

#james {
    font-size: 4em;
}

#cv {
    width: 2rem;
    height: 2rem;
    color:var(--col6);
    font-size: 1.5rem;
    margin: 0 auto;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    transition: 0.3s;
}

#cv:hover {
    color: var(--col5);
}

#portfolio {
    padding: 2rem 0;
    background: var(--col1);
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    padding-bottom: 2rem;
}

#portfolioWindow {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 0.2em;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 0.2em;
}

.portfolioItem {
    opacity: 60%;
    transition: 0.2s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: var(--col2);
}

.portfolioItem:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 100%;
}

#item1 {
    background: url("./Snap\ Thumbnail.jpg") center;
    background-size: cover;
}

#item2 {
    background: url("./Memory\ Thumbnail.jpg") center;
    background-size: cover;
}

.portfolioItem:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
    opacity: 100%;
    background: var(--col3);
    color: white;
}

.portfolioItem:hover .projectLink {
    opacity: 100%;
}

.viewProject {
}

.projectLink {
    opacity: 0%;
    font-size: 0.8rem;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 0.5rem;
    transition: 0.2s;
}

.projectLink:hover {
    background: var(--col4);
    cursor: pointer;
}

.projectLink:active {
    background: var(--col5);
}

#skills {
    background: linear-gradient(20deg, var(--col2), var(--col1));
    padding: 0.5em;
    font-size: 1em;
}

.column {
    width: 45%;
}

.row {
    display: flex;
    justify-content: space-evenly;
    
}

#column1 {
    text-align: right;
}

.skill {
    font-size: 1.1rem;
    padding: 0.5rem;
    list-style: none;
}
 
#contact {
    background: var(--col1);
    padding: 2rem;
    height: 100vh;
}

#contactForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formGroup {
    line-height: 1rem;
    padding: 0.5rem;
    list-style-type: none;
    transition: 0.3s;
}

.formEntry {
    background: var(--col2);
    color:var(--col6);
    padding: 0.7rem;
    width: 63vw;
    border: 1px solid var(--col3);
    border-radius: 0.3rem;
}

.formEntry:focus {
    background: var(--col1);
}

#contactMessage {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 63vw;
    min-width: 63vw;
    min-height: 6rem;
}

#contactBox {
    padding-top: 0.9rem;
}

#submit {
    width: 100%;
    padding: 0.5rem;
    background: var(--col1);
    color: var(--col5);
    border: 1px solid var(--col4);
    border-radius: 0.3rem;
    transition: 0.1s;
    cursor: pointer;
}

#submit:hover {
    background: var(--col2);
}

#submit:active {
    background: var(--col4);
    color: var(--col1);
}



@media (max-width: 43em) {

    body {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1em;
        background-repeat: no-repeat;
        cursor: default;
    }
    
    header {
        width: 100vw;
        background: var(--col4);
        height: 4em;
        position: fixed;
        display: flex;
        flex-direction: row;
        font-size: 1em;
        text-align: center;
        text-decoration: none;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        z-index: 1;
        overflow-x: hidden;
        display: none;
    }
    
    #headerTop {
        width: 4em;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #logoContainer {
        padding: 0.5em;
    }
    
    #logo {
        opacity: 90%;
        width: 3em;
        height: 3em;
        transition: 0.3s;
    }
    
    #logo:hover {
        transform: rotate(10deg);
        opacity: 100%;
    }
    
    #headerNav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .navLink {
        width: 15vw;
        height: 100%;
        line-height: 4em;
        border-left: 2px solid rgba(0, 0, 0, 0.2);
    }

    #headerNav a:last-of-type {
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        border-bottom: none;
    }
    
    .navLink:visited, .navLink:link, .navLink:active {
        text-decoration: none;
        color: var(--col6);
        transition: 0.2s;
        border-top: none;
    }
    
    .navLink:hover {
        background: rgba(0, 0, 0, 0.1);
        color: white;
        text-shadow: none;
    }

    .navLink:active {
        background: rgba(0, 0, 0, 0.1);
        color: white;
        text-shadow: none;
    }
    
    #headerBottom {
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        border-top: none;
        width: 8em;
        justify-content: space-evenly;
    }
    
    .mediaLink:visited, .mediaLink:link, .mediaLink:active {
        font-size: 2em;
        color:white;
        text-decoration: none;
        opacity: 85%;
        transition: 0.3s;
        width: 2em;
    }
    
    .mediaLink:hover {
        opacity: 100%;
    }
    
    main {
        padding-left: 0em;
        color:var(--col6);
    }

    #intro {
        padding-left: 1rem;
        background: linear-gradient(120deg, var(--col1), var(--col2));
        height: 100vh;
    }
    
    #introJames {
        padding-top: 40vh;
    
    }
    
    .introText {
        transition: 0.3s;
        text-shadow: 5px 5px 5px rgba(0,0,0,1);
        font-size: 2rem;
    }
    
    #james {
        font-size: 3em;
    }
}