@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
    --col1: #0f1123;
    --col2: #4e3d53;
    --col3: #a98b98;
    --col4: #65a882;
    --col5: #6ef7a9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
button, input, select, textarea {
    font-family: 'Comfortaa', sans-serif;
}
::-webkit-input-placeholder {
    font-family: 'Comfortaa', sans-serif;
}
:-moz-placeholder {
    font-family: 'Comfortaa', sans-serif;
}
::-moz-placeholder {
    font-family: 'Comfortaa', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Comfortaa', sans-serif;
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 4rem;
    background-repeat: no-repeat;
    min-height: 100vh;
    color:rgba(255, 255, 255, 0.8);
    cursor: default;
}

header {
    width: 8rem;
    background: var(--col4);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 0px 5px rgb(0,0,0,0.2);
    z-index: 1;
    overflow-x: hidden;
}

#headerTop {
    width: 100%;
}

#logoContainer {
    padding: 2vh;
    transition: 1s;
}


#headerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLink {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

.navLink:visited, .navLink:link, .navLink:active {
    text-decoration: none;
    color:rgba(255, 255, 255);
    transition: 0.3s;
}

.navLink:hover {
    background: rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    text-shadow: none;
}

#headerBottom {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.mediaLink:visited, .mediaLink:link, .mediaLink:active {
    font-size: 2rem;
    color:rgba(255, 255, 255);
    text-decoration: none;
    opacity: 85%;
    transition: 0.3s;
}

.mediaLink:hover {
    opacity: 100%;
}

main {
    padding-left: 8rem;
    color:rgba(255, 255, 255, 0.8);
}

#logo {
    opacity: 90%;
    width: 5rem;
    height: 5rem;
    transition: 0.3s;
}

#logo:hover {
    transform: rotate(10deg);
    opacity: 100%;
}

#intro {
    padding-left: 2rem;
    background: linear-gradient(120deg, var(--col1), var(--col2));
    height: 100vh;
}

#introJames {
    padding-top: 30vh;

}

.introText {
    transition: 0.3s;
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
}

#james {
    font-size: 5rem;
}

#cv {
    width: 2rem;
    height: 2rem;
    color:rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    margin: 0 auto;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    transition: 0.3s;
}

#cv:hover {
    color: var(--col5);
}

#portfolio {
    padding: 2rem 0;
    background: var(--col1);
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    padding-bottom: 2rem;
}

#portfolioWindow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.portfolioItem {
    width: 30vmin;
    height: 30vmin;
    opacity: 75%;
    background: var(--col2);
    color: white;
    transition: 0.2s;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    text-shadow: 0 0 3px black;
}


.portfolioItem:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
    opacity: 100%;
    background: #94749e;
    color: white;
}

.portfolioItem:hover .projectLink {
    opacity: 100%;
}

.portfolioThumbnail {
    position: absolute;
    width: 30vmin;
    z-index: -1;
    left: 0px;
    top: 0px;
}

.viewProject {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(15vmin, 20vmin) translate(-50%);
}

.projectLink {
    opacity: 0%;
    font-size: 0.8rem;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 0.5rem;
    transition: 0.2s;
}

.projectLink:hover {
    background: var(--col4);
    cursor: pointer;
}

.projectLink:active {
    background: var(--col5);
}

#skills {
    background: linear-gradient(20deg, var(--col2), var(--col1));
    padding: 2rem;
}

#skillList {
    padding-left: 1.5rem;
    font-weight: 100;
}

.skill {
    font-size: 1.1rem;
    padding: 0.5rem;
}

.skill:hover {
}
 
#contact {
    background: var(--col1);
    padding: 2rem;
    height: 100vh;
}

#contactForm {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formGroup {
    line-height: 1rem;
    padding: 0.5rem;
    list-style-type: none;
    transition: 0.3s;
}

.formEntry {
    background: var(--col2);
    color:rgba(255, 255, 255, 0.8);
    padding: 0.7rem;
    width: 63vw;
    border: 1px solid var(--col3);
    border-radius: 0.3rem;
}

.formEntry:focus {
    background: var(--col1);
}

#contactMessage {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 63vw;
    min-width: 63vw;
    min-height: 6rem;
}

#contactBox {
    padding-top: 0.9rem;
}

#submit {
    width: 100%;
    padding: 0.5rem;
    background: var(--col1);
    color: var(--col5);
    border: 1px solid var(--col4);
    border-radius: 0.3rem;
}

#submit:hover {
    background: var(--col2);
}

#submit:active {
    background: var(--col4);
    color: var(--col1)
}