@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    border-style: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    cursor: default;
}

#topBar {
    color: white;
    text-align: center;
    width: 100%;
    height: 55vh;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#instructions {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
    position: absolute;
    color:rgba(0, 0, 0, 0.5);
    line-height: 0.8rem;
}

#leftInstructions {
    text-align: left;
    padding: 0 0 0 0.2rem;
}

#rightInstructions {
    text-align: right;
    padding: 0 0.2rem 0 0;
}

#cardArea{
    width: 200px;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

#play {
    width: 90px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.87);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5vh;
    display: block;
}

#play:hover {
    background: white;
}

#play:active {
    background:rgba(255, 255, 255, 0.5);
}

#playerArea {
    width: 100%;
    height: 45vh;
    display: flex;
}

.player {
    border: 2px solid rgba(255, 255, 255, 0.658);
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
}

.cardStack {
    width: 200px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.cardCount {
    text-align: center;
    width: 15vh;
    height: 5vh;
    margin-bottom: 10vh;
    z-index: 10;
}

#leftCards {
    visibility: visible;
    height: 30vh;
    width: 20vh;
    border: 10px solid rgba(255, 0, 0, 0.623);
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: -20px 10px 10px 10px rgba(0, 0, 0, 0.7);
    position: absolute;
    transform: rotate(-10deg);
}

#rightCards {
    visibility: visible;
    height: 30vh;
    width: 20vh;
    border: 10px solid rgba(255, 0, 0, 0.623);
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 20px 10px 10px 10px rgba(0, 0, 0, 0.7);
    position: absolute;
    transform: rotate(10deg);
}

.card {
    width: 20vh;
    height: 30vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    word-spacing: 10.5vh;
    white-space: nowrap;
    font-size: 3vh;
    position: absolute;
    z-index: 10;
}

.red {
    color: red;
}

.black {
    color: black;
}

#cardMiddleText {
    line-height: 21.4vh;
    font-size: 6vh;
}

.turnRight {
    background: linear-gradient(90deg, rgba(0, 200, 0, 0.3), rgba(90, 150, 90, 0.2), rgba(90, 150, 90, 0.2), rgba(90, 150, 90, 0.2));
}

.turnLeft {
    background: linear-gradient(270deg, rgba(0, 200, 0, 0.3), rgba(90, 150, 90, 0.2), rgba(90, 150, 90, 0.2), rgba(90, 150, 90, 0.2));
}

.popup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -50vh;
    transition: 1s;
  }
  
  .popup .popuptext {
    visibility: hidden;
    margin: 0 5vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1vh 3vh;
    position: absolute;
    font-size: 2rem;
    z-index: 20;
  }

  button {
      padding: 0.5rem 1rem;
      border: none;
      font-size: 1.5rem;
      outline: none;
      border-radius: 5px;
  }

  button:active {
      background:rgba(0, 0, 0, 0.603);
      color: white;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @keyframes collect {
      from {transform: translate(var(--oldLocation)) rotate(var(--newRotation))}
      to {transform: translate(var(--newLocation)) rotate(0deg)}
  }

  @keyframes placeCard {
      from{transform: translate(var(--oldLocation)) rotate(0deg)}
      to{transform: translate(var(--newLocation)) rotate(var(--newRotation))}
  }