@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	//VARIABLES

	--animation-time: 0s;
}

body {
	background: hsla(0, 0, 12, 1);
}

@keyframes page-hide {
	70% {
		opacity: 0;
	}

	75%,
	100% {
		opacity: 100%;
	}
}

#page-wrapper {
	font-family: "Poppins", sans-serif, Arial, Helvetica;
	color: hsla(0, 0, 0, 0.8);

	position: relative;
	min-height: 100vh;
	max-width: 100vw;
	overflow: hidden;

	opacity: 0%;
	animation: page-hide var(--animation-time) forwards;
}

.background-gradient {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background: radial-gradient(
		ellipse at -10% 0%,
		hsla(15, 100, 65, 1),
		hsla(25, 100, 65, 1),
		hsla(30, 100, 65, 1),
		hsla(350, 100, 65, 1),
		hsla(360, 100, 65, 1),
		hsla(200, 100, 55, 1),
		hsla(200, 100, 55, 1),
		hsla(210, 100, 55, 1)
	);
	pointer-events: none;

	mix-blend-mode: darken;
}

.top-cover {
	width: 500vmax;
	height: 500vmax;
	top: 50%;
	left: 50%;
	background: hsla(200, 70, 55, 1);
	position: fixed;
	font-size: 4rem;
	z-index: 2;
	pointer-events: none;

	transform-origin: 50% 50%;
	transform: translate(-50%, -50%) rotate(45deg) translate(0, -200%);
	animation: top-slide var(--animation-time);
	animation-fill-mode: forwards;
}

.bottom-cover {
	width: 500vmax;
	height: 500vmax;
	top: 50%;
	left: 50%;
	background: hsla(360, 70, 65, 1);
	position: fixed;
	font-size: 4rem;
	z-index: 2;
	pointer-events: none;

	transform-origin: 50% 50%;
	transform: translate(-50%, -50%) rotate(45deg) translate(0, 200%);
	animation: bottom-slide var(--animation-time);
	animation-fill-mode: both;
}

.title-text {
	color: white;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.top-text {
	bottom: 0%;
	position: absolute;
	left: 0%;

	animation: top-text var(--animation-time);
	animation-fill-mode: forwards;
}

.bottom-text {
	right: 0%;
	position: absolute;

	animation: bottom-text var(--animation-time);
	animation-fill-mode: forwards;
}

@keyframes top-text {
	25% {
		left: 0%;
	}

	33% {
		left: 50%;
		transform: translate(-20%);
	}

	35%,
	50% {
		left: 50%;
		transform: translate(-50%);
	}

	70% {
		left: 50%;
		transform: translate(-60%);
	}

	100% {
		left: 50%;
		transform: translate(-60%);
	}
}

@keyframes bottom-text {
	25% {
		right: 0%;
	}

	33% {
		right: 50%;
		transform: translate(30%);
	}

	35%,
	50% {
		right: 50%;
		transform: translate(50%);
	}

	70% {
		right: 50%;
		transform: translate(60%);
	}

	100% {
		right: 50%;
		transform: translate(60%);
	}
}

@keyframes top-slide {
	20% {
		transform: translate(-50%, -50%) rotate(45deg) translate(0, -50%);
	}

	40% {
		transform: translate(-50%, -50%) rotate(45deg) translate(0, -50%);
	}

	70% {
		transform: translate(-50%, -50%) rotate(0deg) translate(0, -50%);
	}

	90% {
		opacity: 100%;
	}
	100% {
		transform: translate(-50%, -50%) rotate(0deg) translate(0, -310vh);
		opacity: 0%;
	}
}

@keyframes bottom-slide {
	20% {
		transform: translate(-50%, -50%) rotate(45deg) translate(0, 50%);
		font-size: 3rem;
	}

	40% {
		transform: translate(-50%, -50%) rotate(45deg) translate(0, 50%);
		font-size: 3rem;
	}

	70% {
		transform: translate(-50%, -50%) rotate(0deg) translate(0, 50%);
		font-size: 4rem;
	}

	90% {
		opacity: 100%;
	}
	100% {
		transform: translate(-50%, -50%) rotate(0deg) translate(0, 310vh);
		opacity: 0%;
	}
}

#nav-bar {
	width: 100%;
	display: flex;
	justify-content: center;
	background: hsla(0, 0, 0, 0.84);
	position: fixed;
	box-shadow: 0 -19px 10px 20px hsla(0, 0, 0, 0.5);
	z-index: 1;
}

#nav-bar a {
	padding: 0.3rem 0.8rem;
	text-decoration: none;
	font-size: 1.1rem;
	color: hsla(0, 0, 100, 0.87);
	transition: 200ms;

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: hsla(0, 0, 100, 0.6);
		transition: 300ms;
		transform: scale(0);
	}

	&:hover,
	&:focus {
		background: hsla(0, 0, 0, 0.5);
		outline: none;

		&::after {
			transform: scale(1);
		}
	}
}

#about {
	position: relative;
	min-height: 100vh;
	padding: 5rem 0 1rem 0;

	background: linear-gradient(
		hsla(0, 0, 7, 0.3),
		hsla(0, 0, 7, 0.9),
		hsla(0, 0, 7, 1)
	);
}

h1 {
	color: hsla(0, 0, 100, 0.87);
	font-size: 4rem;
	font-weight: 600;
	text-align: center;

	text-shadow: 0px 2px 15px hsla(0, 0, 0, 0.8);
}

h2 {
	color: hsla(0, 0, 100, 0.87);
	font-size: 2.5rem;
	font-weight: 500;
	text-align: center;

	text-shadow: 2px 2px 10px hsla(0, 0, 0, 0.7);
}

#about-text {
	color: hsla(0, 0, 100, 0.8);
	font-size: 1.1rem;
	margin: 2rem auto 0 auto;
	padding: 1rem;
	line-height: 1.8rem;
	text-align: justify;
	background: hsla(0, 0, 0, 0.2);
	position: relative;
	width: 90vw;
	max-width: 1200px;

	border-radius: 10px;
}

.scroll-down {
	position: absolute;
	color: white;
	bottom: 10px;
	left: 50vw;
	transform: translate(-50%);

	animation: down-arrow 1s infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes down-arrow {
	100% {
		transform: translate(-50%, -10px);
	}
}

#portfolio {
	background: hsla(0, 0, 7, 1);
	min-height: 100vh;
	padding: 3rem 0rem;
}

#portfolio-wrapper {
	margin: 2rem 1rem;
	padding: 1rem;
	background: hsla(0, 0, 20, 0.4);
	border-radius: 20px;
	isolation: isolate;

	@media screen and (max-width: 460px) {
		margin: 2rem 0;
		padding: 1rem 0;
		background: none;
		border-radius: 0;
	}
}

#portfolio-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.portfolio-item {
	height: 300px;
	max-width: 800px;
	min-width: 300px;
	background: hsla(0, 0, 20, 0.5);
	margin: 4rem 1rem;
	border-radius: 10px;
	box-shadow: 0px 5px 25px 4px hsla(0, 0, 0, 0.5);

	display: flex;
	overflow: hidden;
	justify-content: space-between;
	align-items: stretch;

	&:nth-of-type(odd) {
		flex-direction: row-reverse;
	}

	img {
		opacity: 80%;
		box-shadow: 0px 0px 10px 2px hsla(0, 0, 0, 0.9);
		border-radius: 10px;
	}

	@media screen and (max-width: 700px) {
		height: 40vw;
		margin: 4rem 0;
		font-size: 0.9rem;
	}

	@media screen and (max-width: 460px) {
		height: 50vw;
		border-radius: 0;
		font-size: 0.8rem;

		img {
			border-radius: 0;
		}
	}
}

.portfolio-info {
	color: white;
	padding: 1rem;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 460px) {
		padding: 0.4rem;
		overflow: scroll;
	}
}

.portfolio-links {
	display: flex;
	justify-content: space-around;
	font-size: 0.9rem;
	white-space: nowrap;

	a {
		display: block;
		padding: 0.3rem 0.7rem;
		border-radius: 20px;
		text-decoration: none;
		color: hsla(0, 0, 100, 0.87);
		transition: 150ms;
		box-shadow: 0px 3px 10px hsla(0, 0, 5, 0.8);

		&:hover {
			opacity: 80%;
		}

		&:focus {
			transform: scale(1.05);
			outline: none;
		}
	}

	@media screen and (max-width: 460px) {
		font-size: 0.8rem;
	}

	@media screen and (max-width: 350px) {
		i {
			display: none;
		}
	}
}

.portfolio-link {
	background: hsla(350, 50, 50, 0.87);
}

.portfolio-code {
	background: hsla(300, 40, 50, 0.87);
	margin-left: 0.5rem;
}

// SKILLS

#skills {
	background: hsla(0, 0, 9, 1);
	min-height: 100vh;
	padding: 3rem 0;
	color: hsla(0, 0, 100, 0.87);
}

#skills-wrapper {
	padding-top: 5rem;
	font-size: 1.4rem;
	display: flex;
	justify-content: space-evenly;

	@media screen and (max-width: 460px) {
		font-size: 1rem;
	}
}

.column {
	width: 45%;

	@media screen and (max-width: 460px) {
		width: 50%;
	}
}

#column-1 {
	text-align: right;
}

.skill {
	padding: 0.8rem;
	list-style: none;

	span {
		isolation: isolate;
	}
}

.skill i {
	width: 25px;
	color: hsla(0, 0, 100, 0.5);

	@media screen and (max-width: 460px) {
		width: 17px;
	}
}

// CONTACT

#contact {
	background: hsla(0, 0, 7, 1);
	padding: 3rem 0 1rem 0;
	min-height: 100vh;
}

#contact-form {
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	background: hsla(0, 0, 12, 1);
	padding: 5px;
	width: 90vw;
	max-width: 800px;
	margin: auto;

	@media screen and (max-width: 460px) {
		width: 100vw;
	}
}

.form-group {
	list-style-type: none;
	padding: 15px;
	width: 90vw;
	max-width: 800px;

	@media screen and (max-width: 460px) {
		width: 100vw;
	}
}

.form-entry {
	background-color: hsla(0, 0, 8, 0.5);
	color: hsla(0, 0, 100, 0.84);
	padding: 12px;
	border: 2px solid hsla(0, 0, 100, 0.6);
	border-radius: 8px;
	width: 100%;

	isolation: isolate;

	&:focus {
		isolation: unset;
		outline: none;
	}
}

#contact-message {
	word-wrap: break-word;
	word-break: break-all;
	width: 100%;
	min-height: 120px;
	font-family: "Poppins", sans-serif;
	font-size: 0.8rem;
	resize: none;
}

#contact-box {
	padding-top: 15px;
}

#submit {
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	transition: 200ms;
	cursor: pointer;
	background: hsla(0, 0, 10, 0.5);
	color: hsla(0, 0, 100, 0.7);

	&:focus,
	&:hover {
		background: hsla(0, 0, 100, 0.3);
		outline: none;
	}
}

#submit:active {
	background-color: hsla(0, 0, 100, 0.7);
	color: black;
}

#contact-links {
	display: flex;
	position: relative;
	justify-content: center;
	margin: 2rem 0 1rem 0;
}

.contact-link {
	font-size: 2rem;
	margin: 0 0.4rem;
	color: hsla(0, 0, 100, 0.6);
	transition: 200ms;

	&:hover {
		color: hsla(0, 0, 100, 0.84);
	}
}

.copyright {
	color: hsla(0, 0, 100, 0.7);
	font-weight: 200;
	text-align: center;
	font-size: 0.9rem;
	isolation: isolate;
}
